<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>UppIt</title>
  </head>
  <body class="overflow-hidden">
    <%- include("./partials/header")%>
    <main class="flex">
      <section class="w-xs p-4 flex flex-col gap-1">
        <a
          class="p-2 rounded-sm shadow-sm bg-black text-white font-bold"
          href="/upload"
          >Upload</a
        >
        <a
          id="createFolderBtn"
          class="p-2 rounded-sm shadow-sm bg-white text-start"
          href="/home"
        >
          Home
        </a>
      </section>
      <section class="w-2xl p-4 bg-white m-4 rounded-md shadow-md">
        <h2 class="text-2xl p-2"><%=folder.name%></h2>
        <% if(locals.files.length > 0) { %>
        <table class="w-full">
          <thead class="text-left">
            <tr class="border-b border-gray-300 dark:border-gray-600 p-2">
              <th scope="col">Name</th>
              <th scope="col">Upload date</th>
              <th scope="col">Size</th>
            </tr>
          </thead>
          <tbody>
            <% files.forEach(file => { %>
            <tr
              class="not-last-of-type:border-b border-gray-300 dark:border-gray-700"
            >
              <td class="p-2">
                <img
                  class="inline-block align-bottom"
                  src="/file_icon.svg"
                  alt="file icon"
                />
                <%= file.name %>
              </td>
              <td><%= file.createdAt.toLocaleDateString() %></td>
              <td><%= file.file_size %> bytes</td>
            </tr>
            <%})%>
          </tbody>
        </table>
        <% } else { %>
        <p class="p-2">No files present in folder.</p>
        <% } %>
      </section>
    </main>
  </body>
</html>
