<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/scripts/folder.js" defer></script>
    <script src="/scripts/file.js" defer></script>
    <script src="/scripts/moveFile.js" defer></script>
    <title>UppIt</title>
  </head>
  <body class="overflow-hidden">
    <%- include("./partials/header")%>
    <main class="flex">
      <section class="w-xs p-4 flex flex-col gap-1">
        <a
          class="p-2 rounded-sm shadow-sm bg-black text-white font-bold"
          href="/upload"
          >Upload</a
        >
        <button
          id="createFolderBtn"
          class="p-2 rounded-sm shadow-sm bg-white text-start hover:cursor-pointer hover:underline"
        >
          Create folder
        </button>
      </section>
      <section class="w-3xl p-4 bg-white m-4 rounded-md shadow-md">
        <h2 class="text-2xl p-2">Home</h2>
        <% if(locals.files.length > 0 || locals.folders.length > 0) { %>
        <table class="w-full">
          <thead class="text-left">
            <tr class="border-b border-gray-300 dark:border-gray-700">
              <th class="p-2 w-1/2" scope="col">Name</th>
              <th class="p-2" scope="col">Upload date</th>
              <th class="p-2" scope="col">Size</th>
            </tr>
          </thead>
          <tbody">
            <% if(locals.folders) { folders.forEach(folder => {%>
            <tr class="border-b border-gray-300 dark:border-gray-700 group">
              <td class="p-2">
                <a href="/folder/<%=folder.id%>" class="w-full">
                  <img
                    class="inline-block align-bottom"
                    src="/folder_icon.svg"
                    alt="folder icon"
                  />
                  <%= folder.name %>
                </a>
              </td>
              <td class="p-2">-</td>
              <td class="p-2">-</td>
              <td class="invisible inline-block p-2 group-hover:visible">
                <img
                  src="/download_icon.svg"
                  alt="download icon"
                  class="inline-block hover:cursor-pointer"
                />
                <img
                  src="/edit_icon.svg"
                  alt="edit icon"
                  class="inline-block hover:cursor-pointer"
                  onclick="(() => {let name = prompt('Enter new folder name')
                  renameFolder('<%= folder.id %>', name)})()"
                />
                <img
                  src="/delete_icon.svg"
                  alt="delete icon"
                  class="inline-block hover:cursor-pointer"
                  onclick="if(confirm('Delete <%=folder.name%>?')) {deleteFolder('<%= folder.id %>')}"
                />
              </td>
            </tr>
            <%})} %> <% files.forEach(file => { %>
            <tr
              class="not-last-of-type:border-b border-gray-300 dark:border-gray-700 group"
            >
              <td class="p-2">
                <img
                  class="inline-block align-bottom"
                  src="/file_icon.svg"
                  alt="file icon"
                />
                <%= file.name %>
              </td>
              <td class="p-2"><%= file.createdAt.toLocaleDateString() %></td>
              <td class="p-2"><%= file.file_size %> bytes</td>
              <td class="invisible inline-block p-2 group-hover:visible">
                <a href="/file/<%= file.id %>" download="<%= file.name %>">
                  <img
                    src="/download_icon.svg"
                    alt="download icon"
                    class="inline-block hover:cursor-pointer"
                  />
                </a>
                <img
                  src="/edit_icon.svg"
                  alt="edit icon"
                  class="inline-block hover:cursor-pointer"
                  onclick="(() => {let name = prompt('Enter new file name')
                  renameFile('<%= file.id %>', name)})()"
                />
                <img
                  src="/delete_icon.svg"
                  alt="delete icon"
                  class="inline-block hover:cursor-pointer"
                  onclick="if(confirm('Delete <%=file.name%>?')) {deleteFile('<%= file.id %>')}"
                />
                <img
                  src="/folder_move.svg"
                  alt="move icon"
                  class="inline-block hover:cursor-pointer"
                  onclick="showMoveForm('<%= file.id %>')"
                />
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
        <% } else { %>
        <p class="p-2">No files present in storage.</p>
        <% } %>
      </section>
      <%- include("./partials/newFolderForm") %>
      <%- include("./partials/moveFileForm") %>
    </main>
  </body>
</html>
